<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="../template_admin.xhtml">
            <ui:define name="content">
                <!--<p:growl id="msg" showDetail="false"/>-->
                <center>
                    <h:form>
                        <p:fieldset>
                            <legend>Purchase Requisition Details</legend>
                        </p:fieldset>
                        <p:panelGrid columns="2">
                        <p:outputLabel for="prNumber" value="PR Number"/>
                        <p:inputText id="prNumber" value="#{purchaseRequest.prNumber}" required="true" requiredMessage="PR Number is a mandatory field"/>
                        
                        <p:outputLabel for="datesbmtd" value="Date Submitted"/>
                        <p:calendar id="datesbmtd" value="#{purchaseRequest.dateSubmitted}" mode="inline" required="true" requiredMessage="Please select a date"/>
                        
                        <p:outputLabel for="totalamt" value="Total Amount"/>
                        <p:inputText id="totalamt" value="#{purchaseRequest.totalAmount}" type="number" required="true" requiredMessage="Please anter a valid amount"/>
                        
                        <p:outputLabel for="entity" value="Entity"/>
                        <p:inputText id="entity" value="#{purchaseRequest.entity}"/>
                        
                        <p:outputLabel for="opunit" value="Operating Unit"/>
                        <p:inputText id="opunit" value="#{purchaseRequest.operatingUnit}" />
                        
                        <p:outputLabel for="project" value="Project"/>
                        <p:inputTextarea id="project" autoResize="true" maxlength="300" value="#{purchaseRequest.project}" />
                        
                        <p:outputLabel for="sourcen" value="Source Name"/>
                        <p:selectOneMenu id="sourcen" value="#{purchaseRequest.sourceName}" editable="true">
                            <p:ajax listener="#{purchaseRequest.onVendorChange}" update="sourcec"/>
                            <f:selectItem itemLabel="Select or enter new vendor" itemValue="" noSelectionOption="true"/>
                            <f:selectItems value="#{purchaseRequest.vnames}"/>
                        </p:selectOneMenu>
                        
                        <p:outputLabel for="sourcec" value="Source Contact"/>
                        <p:selectOneMenu id="sourcec" value="#{purchaseRequest.sourceContact}" editable="true">
                            <f:selectItem itemLabel="Select or enter new contact details" itemValue="" noSelectionOption="true"/>
                            <f:selectItems value="#{purchaseRequest.vcontacts}"/>
                        </p:selectOneMenu>
                        
                        <p:outputLabel for="dep" value="Department"/>
                        <p:inputText id="dep" value="#{purchaseRequest.department}" />
                        
                        <p:outputLabel for="account" value="Account"/>
                        <p:inputText id="account" value="#{purchaseRequest.account}" />
                        
                        <p:outputLabel for="atchmnt" value="Attachment Link"/>
                        <p:inputText id="atchmnt" value="#{purchaseRequest.attachmentLink}" />
                        
                        <f:facet name="footer">
                            <p:commandButton value="Save Data" action="#{purchaseRequest.createNew()}" update="msg"/>
                            <p:commandButton type="reset" value="Clear Form"/>
                        </f:facet>
                        </p:panelGrid>
                        
                    </h:form>
                </center>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

