<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body rendered="#{loginBean.superuser}">
        <ui:composition template="../template_admin.xhtml">
            <ui:define name="content" rendered="#{loginBean.superuser}">
                <!--<p:growl id="msg" showDetail="false"/>-->
                <center>
                    <h:form rendered="#{loginBean.superuser}">
                        <p:fieldset>
                            <legend>Site User Details</legend>
                        </p:fieldset>
                        <p:panelGrid columns="2">
                        <p:outputLabel for="uname" value="User Name"/>
                        <p:inputText id="uname" value="#{users.userName}" required="true" requiredMessage="User Name is a mandatory field"/>
                        
                        <p:outputLabel for="passwd" value="Password"/>
                        <p:password id="passwd" value="#{users.userPassword}" required="true" requiredMessage="Password is mandatory to create a user"/>
                        
                        <p:outputLabel for="fname" value="First Name"/>
                        <p:inputText id="fname" value="#{users.firstName}"/>
                        
                        <p:outputLabel for="lname" value="Last Name"/>
                        <p:inputText id="lname" value="#{users.lastName}"/>
                        
                        <p:outputLabel for="email" value="Email Address"/>
                        <p:inputText id="email" value="#{users.email}" />
                        
                        <p:outputLabel for="department" value="Department"/>
                        <p:inputText id="department" value="#{users.department}"/>
                        
                        <p:outputLabel for="access" value="Access Role"/>
                        <p:selectOneRadio id="access" value="#{users.accessRole}" required="true"
                                          requiredMessage="Please select an access role for the user">
                            <f:selectItem itemLabel="Admin" itemValue="admin"/>
                            <f:selectItem itemLabel="User" itemValue="user"/>
                        </p:selectOneRadio>
                        <f:facet name="footer" rendered="#{loginBean.superuser}">
                            <p:commandButton value="Save Data" action="#{users.createUser()}" update="msg" rendered="#{loginBean.superuser}"/>
                            <p:commandButton type="reset" value="Clear Form"/>
                        </f:facet>
                        </p:panelGrid>
                        
                    </h:form>
                </center>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

