<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Verifone - Login</title>
    </h:head>
    <h:body>
        <p:growl id="msg" showDetail="true"/>
        <center>
            <!--<div style="padding-top: 4%; padding-bottom: 3%; border: #630000 2px solid; width: 40%; margin-top: 10%; background-color: #5A6471">--> 
            <h:form style="padding-top: 5%">
                <img src="../resources/img/vlogo.png" alt="Logo" align="middle" style="width: 20%"/>
                <hr align="center" width="25%"></hr>
                <br></br>
                <span class="fa fa-cc-amex"></span>
                <span class="fa fa-cc-discover"></span>
                <span class="fa fa-cc-mastercard"></span>
                <span class="fa fa-cc-paypal"></span>
                <span class="fa fa-cc-visa"></span>
                <br></br><br></br><br></br>
                <div style="size: auto;">
                    <p:focus for="username"/>
                    <h:panelGrid columns="3" cellpadding="5">
                        <h:outputLabel for="username" value="Username: "/>
                        <p:inputText id="username" value="#{loginBean.username}" required="true" autocomplete="off" 
                                     requiredMessage="Please enter a valid username to continue" label="Username"/>
                        <div>
                            <span class="fa fa-user"></span>
                        </div>
                        <h:outputLabel for="password" value="Password: "/>
                        <p:password id="password" value="#{loginBean.passwd}" required="true" 
                                    requiredMessage="Please enter a password to continue" label="Password"/>
                        <div>
                            <span class="fa fa-key"></span>
                        </div>
                        <f:facet name="footer">
                            
                                <br></br>
                                <p:captcha label="Captcha"/>
                                <br></br>
                                <p:commandButton value="Login" update="msg" action="#{loginBean.loginApp()}" icon="fa fa-sign-in" iconPos="left"/>
                            
                        </f:facet>
                    </h:panelGrid>
                </div>
            </h:form>
            <!--</div>-->
        </center>
    </h:body>
</html>

