<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="../template_admin.xhtml">
            <ui:define name="content">
                <!--<p:growl id="msg" showDetail="false"/>-->
                <center>
                    <h:form>
                        <p:fieldset>
                            <legend>Purchase Offer Details</legend>
                        </p:fieldset>
                        <p:panelGrid columns="2">
                        <p:outputLabel for="prNumber" value="PR Number"/>
                        <p:selectOneMenu id="prNumber" required="true" value="#{purchaseOffer.prNumber}">
                            <p:ajax listener="#{purchaseOffer.onPrChange()}" update="ename, vname"/>
                            <f:selectItem itemLabel="Select a PR number" itemValue="" noSelectionOption="true"/>
                            <f:selectItems value="#{purchaseOffer.prn}"/>
                        </p:selectOneMenu>
                        
                        <p:outputLabel for="amt" value="Purchase Amount"/>
                        <p:inputText id="amt" value="#{purchaseOffer.purchaseAmount}" type="number" required="true"/>
                        
                        <p:outputLabel for="pdate" value="Purchase Date"/>
                        <p:calendar id="pdate" value="#{purchaseOffer.purchaseDate}" mode="inline" required="true"/>
                        
                        <p:outputLabel for="ename" value="Employee Name"/>
                        <p:inputText id="ename" value="#{purchaseOffer.employeeName}" />
                        
                        <p:outputLabel for="duration" value="Duration"/>
                        <p:inputText id="duration" value="#{purchaseOffer.duration}" type="number" />
                        
                        <p:outputLabel for="vname" value="Vendor Name"/>
                        <p:inputText id="vname" value="${purchaseOffer.vendorName}" />
                        
                        <p:outputLabel for="atchmnt" value="Attachment Link"/>
                        <p:inputText id="atchmnt" value="#{purchaseOffer.attachmentLink}" />
                        
                        <f:facet name="footer">
                            <p:commandButton value="Save Data" action="#{purchaseOffer.createNew()}" update="msg"/>
                            <p:commandButton type="reset" value="Clear Form"/>
                        </f:facet>
                        </p:panelGrid>
                        
                    </h:form>
                </center>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

