<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="../template_admin.xhtml">
            <ui:define name="content">
                <h:form>
                    <center>
                        <p:dataTable id="tbl" value="#{purchaseOffer.list}" var="po"
                                     widgetVar="potbl" paginatorAlwaysVisible="false"
                                     emptyMessage="No purchase offers to show, add some data"
                                     resizeMode="expand" paginator="true" paginatorPosition="bottom"
                                     rows="10" resizableColumns="true" reflow="true" selectionMode="single"
                                     selection="#{purchaseOffer.selectedpo}" rowKey="#{po.prNumber}">
                            <f:facet name="footer">
                                <h:commandLink title="Export to CSV">
                                    <span class="fa fa-file-excel-o">Export to CSV</span>
                                    <p:dataExporter type="csv" target="tbl" fileName="purchase offers" />
                                </h:commandLink>
                            </f:facet>
                            <f:facet name="header">
                                Purchase Offers List
                                <div align="right" style="position: relative">
                                    <p:outputPanel>
                                        <p:inputText id="globalFilter" onkeyup="PF('potbl').filter()" style="width: 15%; float: left" placeholder="Enter keyword to search" autocomplete="off"/>
                                    </p:outputPanel>
                                    <p:commandButton icon="fa fa-plus" value="New PO" action="#{menuService.newdata()}"/>
                                    <p:commandButton icon="fa fa-ban" value="Delete" actionListener="#{purchaseOffer.delete(purchaseOffer.selectedpo)}" update="tbl, msg">
                                        <p:confirm header="Delete selected record ?" message="This will also delete all the cascaded data assosiated with this PR !" icon="fa fa-exclamation-triangle"/>
                                    </p:commandButton>
                                    <p:commandButton icon="fa fa-edit" value="Edit"/>
                                    <p:commandButton id="toggler" type="button" value="Columns" icon="fa fa-table" />
                                    <p:columnToggler datasource="tbl" trigger="toggler" />
                                </div>
                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                    <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check"/>
                                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-close"/>
                                </p:confirmDialog>
                            </f:facet>
                            <p:column sortBy="#{po.prNumber}" filterBy="#{po.prNumber}" filterStyle="display:none" headerText="PR number">
                                <h:outputText value="#{po.prNumber}"/>
                            </p:column>
                            <p:column sortBy="#{po.purchaseAmount}" filterBy="#{po.purchaseAmount}" filterStyle="display:none" headerText="Purchase amount">
                                <h:outputText value="#{po.purchaseAmount}">
                                    <f:convertNumber type="currency" currencySymbol="₹"/>
                                </h:outputText>
                            </p:column>
                            <p:column sortBy="#{po.purchaseDate}" filterBy="#{po.purchaseDate}" filterStyle="display:none"  headerText="Purchase date">
                                <h:outputText value="#{po.purchaseDate}"/>
                            </p:column>
                            <p:column sortBy="#{po.employeeName}" filterBy="#{po.employeeName}" filterStyle="display:none" headerText="Employee name">
                                <h:outputText value="#{po.employeeName}"/>
                            </p:column>
                            <p:column sortBy="#{po.duration}" filterBy="#{po.duration}" filterStyle="display:none" headerText="Duration">
                                <h:outputText value="#{po.duration}"/>
                            </p:column>
                            <p:column sortBy="#{po.vendorName}" filterBy="#{po.vendorName}" filterStyle="display:none" headerText="Vendor name">
                                <h:outputText value="#{po.vendorName}"/>
                            </p:column>
                            <p:column headerText="Attachment Link">
                                <p:link href="${po.attachmentLink}" title="Download" value="${po.attachmentLink}"/>
                            </p:column>
                        </p:dataTable>
                    </center>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

